@font-face {
  font-family: 'Arial-MT';
  src: url("./assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("./assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  /* cursor: pointer; */
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 14px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("./assets/svg/play.svg");
}

.pause {
  background-image: url("./assets/svg/pause.svg");
}

.play-prev {
  background-image: url("./assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("./assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.weather-icon::before {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("./assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("./assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("./assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

.player-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 800px;
}

.player-volume {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.player-progressbar {
  margin-top: -20px;
  width: 300px;
}

.player-progress {
  width: 100%;
  height: 10px;
  margin-top: 5px;
}

.muteButton {
  cursor: pointer;
}

.settings-button {
  position: absolute;
  bottom: 80px;
  right: 80px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.settings-button-text {
  font-size: 30px;
}

.settings-button-icon {
  max-width: 30px;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.settings-popup {
  display: grid;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  width: 650px;
  height: 400px;
  padding: 30px;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: #000000;
  font-size: 20px;
}

.close {
  cursor: pointer;
}

.settings-tag-container {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 20px;
}

.setting-hide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.hidden {
  display: none;
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.fadeOut {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}



@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes fade-out {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

/* For hiding items */

.fadeInItems {
  animation-name: fade-in-items;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.fadeOutItems {
  animation-name: fade-out-items;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.opened-items {
  opacity: 1;
}

.closed-items {
  opacity: 0;
  cursor: default;
}

@keyframes fade-in-items {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out-items {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.settings-background-tags {
  font-size: 20px;
}

.playlist-item-container {
  display: flex;
  align-items: center;
}

.playlist-button {
  margin-right: 15px;
}

.todo-button {
  position: absolute;
  bottom: 80px;
  left: 80px;
  font-size: 30px;
  cursor: pointer;
}

.todo-popup {
  display: grid;
  position: absolute;
  bottom: 140px;
  left: 80px;
  width: 600px;
  height: 300px;
  padding: 30px;
  opacity: 0;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: #000000;
  font-size: 20px;
}

.todo-header {
  text-align: left;
}

.no-todos {
  align-self: flex-start;
  font-size: 30px;
  font-weight: normal;
}

.todo-new-btn {
  width: 200px;
  height: 40px;
  justify-self: center;
  background-color:rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.todo-new {
  height: 30px;
  width: 80%;
  justify-self: center;
  align-self: flex-end;
  border-radius: 10px;
  font-size: 20px;
}

.todo-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.todo-list {
  display: grid;
  justify-items: flex-start;
  align-self: top;
  justify-self: left;
  list-style-type: none;
}

.todo-list-item {
  text-decoration: none;
}

.todo-done {
  text-decoration: line-through;
}

.opened-popup {
  opacity: 0.8;
}

.closed-popup {
  display: none;
}

.todo-label {
  grid-column-start: 2;
}